<h2>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="celebrities">
  {{#each celebritiesFromDB}}
  <div id="celebrity">
    <a href="/celebrities/{{_id}}"><p>{{name}}</p></a>
    {{!-- <p>{{occupation}}</p>
    <p>{{catchPhrase}}</p> --}}
  </div>
  {{/each}}
</div>