<h2>Celebrity Details</h2>
{{#with celebrityDetails}}
<h1>{{name}}</h1>
<p>{{occupation}}</p>
<p>{{catchPhrase}}</p>
{{!-- <a href="/books/edit/{{_id}}">Edit this book</a>
<a href="/books/delete/{{_id}}">Delete this book</a> --}}
{{/with}}