{{#with celebrity}}
<h1>{{name}}</h1>
<p>occupation: {{occupation}}</p>
<p>catchPhrase: {{catchPhrase}}</p>
<a href="/celebrities/{{_id}}/edit">Edit</a>
<a href="/celebrities/{{_id}}/delete">Delete</a>
{{/with}}