<h2>Details on {{targetCeleb.name}}</h2>

<h3>Name: {{targetCeleb.name}}</h3>
<h3>Occupation: {{targetCeleb.occupation}}</h3>
<h3>Catchphrase: {{targetCeleb.catchphrase}}</h3>
<a href="/celebrities/edit/{{targetCeleb._id}}">Edit this Celeb</a>
<a href="/celebrities">Return to Holywood</a>