{{#with show}}
<h2>{{name}}</h2>
<h3>{{occupation}}</h3>
<p>{{catchPhrase}}</p>
<button type="submit"><a href="/celebrities/{{_id}}/delete">Delete this celebrity</a></button>
<button type="submit"><a href="/celebrities/{{_id}}/edit">Edit this celebrity</a></button>
{{/with}}