{{#with celebrityDetails}}
<h2>See {{name}} details</h2>
<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>
<a href="/celebrities/{{_id}}/edit">Edit Information</a>
{{/with}}