<h2>Celebrity Details</h2>

{{#with celebrtityDetails}}
	<h1>Name: {{name}}</h1>
	<p>Occupation: {{occupation}}</p>
	<p>Catchphrase: {{catchPhrase}}</p>
	{{!-- <a href="/books/edit/{{_id}}">Edit this book ✏️</a>
	<a href="/books/delete/{{_id}}">Delete this book ❌</a> --}}
{{/with}}