{{#with celebrity}}
  <h1>{{name}}</h1>
    <h2>{{occupation}}</h2>
      <p>{{catchPhrase}}</p>
      <a href="/celebrities/delete/{{_id}}">Delete Me</a>
      <a href="/celebrities/edit/{{_id}}">Edit Me</a>
{{/with}}