
{{#with show}}
<h2>{{name}}</h2>
<p>Here, we have a fantastic {{occupation}} with us today</p>
<span></span>Big applause for the wonderful {{name}} !</span>
<p>He always likes to say: <br><br>"{{catchPhrase}}"</p>



<a href="/celebrities" style="color:blue">/return</a>


<p><br><br><br><a href="/delete/{{_id}}" style="color:crimson">DELETE</a></p>
{{/with}}