<h2>Movies</h2>
<a href="/movies/new">Add a movie</a>
<hr>
<div>
  {{#each movies}}
  <h3>Title: {{this.title}}</h3>
  <p>Genre: {{this.genre}}</p>
  <p>Plot: {{this.plot}}</p>
  <p>Cast:</p>
  <ul>
    {{#each this.cast}}
    <li>
      {{this.name}}
    </li>
    {{/each}}
  </ul>
  <a href="/movies/{{this._id}}/edit">Edit this movie</a>
  <hr>
  {{/each}}
</div>