<h2>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="movies">
  {{#each moviesFromDB}}
  <div id="movie">
    <a href="/movies/{{_id}}"><p>{{title}}</p></a>
    <p>{{genre}}</p>
    <p>{{plot}}</p>
    <h3>Cast: </h3>
	  {{#each cast}}
      <p>{{name}}</p>
	  {{/each}}
  </div>
  {{/each}}
</div>