<h2>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="movies">
  <form action="/movies" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="genre" placeholder="Genre">
    <input type="text" name="plot" placeholder="Plot">
    <select name="cast" multiple>
      {{#each celebrities}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
	  </select>
    {{!-- <select name="cast">
      {{#each celebrities}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
	  </select> --}}
    <button id="btn-submit">Add movie</button>
  </form>
</div>