<h2>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="movies">
  {{#with movie}}
  <div id="movie">
    <a href="/movies/{{_id}}"><p>{{title}}</p></a>
    <p>{{genre}}</p>
    <p>{{plot}}</p>
    <h3>Cast: </h3>
	  {{#each cast}}
      <p>{{name}}</p>
	  {{/each}}
    <form action="/movies/{{_id}}/edit" method="GET">
      <button>Edit movie</button>
    </form>
  </div>
  {{/with}}
</div>