{{#with movieInfo}}
<h1>info about the movie: {{title}}</h1>
<p>Genre: {{genre}}</p>
<p>Plot Synopsis: "{{plot}}"</p>
{{!-- <p>cast: {{cast.name}}</p> --}}

{{/with}}
{{#each castInfo}}
<p>Cast: {{name}}</p>
{{/each}}